[Unit]
Description=SSC Web App (FastAPI)
After=network.target postgresql.service

[Service]
Type=simple
User=perecanals
WorkingDirectory=/home/perecanals/ssc-pacs/stanford-stroke-pacs/web-app
ExecStart=/home/perecanals/miniconda3/envs/pacs/bin/uvicorn app:app --host 0.0.0.0 --port 8043
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
